[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

}

.flaticon-businessman:before { content: "\f100"; }
.flaticon-pay:before { content: "\f101"; }
.flaticon-plane:before { content: "\f102"; }
